.alert {
  position: absolute;
  z-index: 1;
  width: 200px;
}

.landing_title {
  padding-top: 230px;
}

.landing {
  background: image-url("cd.jpg") no-repeat center center fixed;
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100vh;
}

.navbar {
	margin-bottom: 0px;
  position: absolute;
  width: 100%;
  
}

.btn-landing {
	background: none;
	border: solid;
}

.btn-landing:hover {
	background: none;
	border-color: white;
}